.Card{
    height: 300px;
    margin-right:20px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgb(204, 204, 204);
    transition: height 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #fff;
  }
  .Card:hover {
    height: 350px;
    box-shadow: 0px 4px 15px rgb(156, 156, 156);
  }
  .Card:hover .Description{
    display: block;
  }
  .Card:hover .Card-old-price{
    font-size: 0.9em;
  }

  .Card-Img {
      width: 100%;
      padding: 10px;
      height: 210px!important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgb(228, 228, 228);
  }
  .Card-Img img{
    width: 100%;
  }
  .Card-Price {
      width: 90%;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 10px 0 0 10px;
      padding-left: 10px;
  }
  .Card-Price strong {
     font-size: 1.2em;
  }
  .Card-Price span {
     font-size: 0.9em;
  }

  .Card-Description {
      width: 90%;
      height: 50px;
      margin-top: 10px;
      overflow: hidden!important;
      text-align: center;
  }
  .Card-Description span {
      font-size: 0.8em;
      text-decoration: none!important;
      color: rgb(87, 87, 87);
  }
  .Card-old-price {
    color: rgb(87, 87, 87);
    font-size: 0;
    text-decoration: line-through;
    align-self: flex-start;
    transition: font-size 0.1s;
  }
  .Card-discount span{
    color: green;
    font-size: 0.9em;
    margin-left: 9px;
    font-weight: 800;
  }