
@media(max-width: 500px){
    .content{
        display: flex;
        justify-content: center;
    }
    .Img{
        width: 600px;
        height: 180px;
        justify-items: center;
    }
    .carousel {
        width: 100%;
    }    
} 
@media(min-width: 500px){
    .Img{
        width: 100%;
    }
    
} 

.carousel {
    max-width: 1600px;
    left: 0;
    right: 0;
}

