.nav-component {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 0.9em;
    align-items: center;
}
.nav-component span{
    font-size: 0.8em;
    margin: 5px;
}
.menuLi {
    padding: 10px 25px 10px 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.menuLi a{
    text-decoration: none;
    color:  rgba(70, 70, 70, 0.753);
}
.menuLi a:hover{
    text-decoration: none;
    color: var(--font-color)
}
.subMenu {
    position: absolute;
    z-index: 200; 
    background-color: #333;
    width: 250px; 
    border-radius: 4px;
    padding: 20px 0 20px 0;
    height: 400px;
}
.subMenu a{
    text-decoration: none!important;
}
.itemSubMenu {    
    color: #fff;  
    padding: 10px 30px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemSubMenu:hover {
    background-color: var(--primary);
}
.showSubMenuHover{
    display: block!important;
}
.subMenuSub {
    position: absolute;
    z-index: 210; 
    background-color: #fff;
    width: 450px; 
    border-radius: 2px;
    padding: 30px;
    height: 400px;
    width: 500px;
    margin-left: 248px;
    top: 0px;
}

.ItemIcon {
    font-size: 1.4em;
    color: var(--font-color);
}
.ItemIcon span{
    font-size: 0.65em;
}
.justify-around {    
    justify-content: space-around;
}
.justify-start {    
    justify-content: flex-start;
}