.Button {
    outline-style: none;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    background-color: var(--header-color);
    font-size: 0.9em;    
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.sm{
    font-size: 0.75em;  
}
.lg{
    font-size: 1em; 
}