.container-content {
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: center;
}
.div-Content  {
    min-height: 100vh;
    padding: 0!important;    
}

@media(max-width: 1024){
    .container-content { 
        width:100%!important;        
      }
      .container, .container-md, .container-sm {
        margin: 0!important;
        max-width: 100%!important;
      }
}