
.footerDesktop span{
    font-size: 0.7em;    
    display: flex; 
    padding: 3px 0px;
    color: rgb(151, 151, 151);
}


@media(max-width: 770px){
    .footerDesktop {      
        display: none;
    }
}
@media(min-width: 770px){
    .footerMobile {      
        display: none;
    }
}
.footerStrip {
    background-color: rgb(255, 230, 0);
    padding: 5px 0px;
    justify-content: center;
}
.footerStrip a{
    text-decoration: none!important;
    color: unset;
}
.footerStrip a:hover{
    color: unset;
}
.footerStrip img {
    height: 25px;    
}
.footerImg {
    padding: 6px 3px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(103, 104, 15, 0.479);
    margin-right: 10px;
}
.footerLink{
    width: 80%;
    display: flex;
    align-items: center;     
}
.footerStrip span{
    font-size: 0.8em;
    border: none;
}
.footerItems {
    width: 80%!important;
}
.footerLogin {
    width: 80%;
}
.spanFooter{
    font-size: 0.7em;    
    display: flex; 
    padding: 20px 0px;
    color: rgb(151, 151, 151);
    border: none;
}