.Menu-Mobile:focus{
    outline: none;
}

@media(max-width: 1024px){    
    .Container-Fluid{
        max-width: 100%!important;
    }
    div .colLogo{        
        min-width: 50px;
        max-width: 50px;
        height: 35px;
        padding: 0px;
    } 
    .headerLogo {
        content:url('../../assets/images/logo-mini.png');
        min-width: 50px;
        max-width: 50px;
        height: 35px;
        padding: 0px;
    }
    .Row-Header{
        display: none!important;
    }
    .Menu-Mobile{
        display: block;
        background-color: var(--header-color);
        border: none;
        color: var(--font-color);
        outline: none;
    }
    .Download-App{
        display: none;
    }
}
@media(min-width: 1024px){
    .Content-Menu-Mobile{        
        display: none!important;
    }
    div .colLogo{
        height: 35px;
        min-width: 135px;
        max-width: 135px;
        padding: 0;
    }
    div .headerLogo{
        content:url('../../assets/images/logo.png');
        height: 35px;
        min-width: 135px;
        max-width: 135px;
        padding: 0;
    }
}
.Row {
    align-items: center;
    min-height: 56px;
}
.Content-Menu-Mobile{
    display: flex;
    justify-content: center;
    margin: 0 5px;
}
.Row-Header {
    padding: 0px;
    display: flex;
    align-items: flex-end;
}


