.Menu-Mobile:focus{
    outline: none;
}

@media(max-width: 1024px){    
    .Container-Fluid{
        max-width: 100%!important;
    }
    div.logo{
        content:url('../../assets/images/logo-mini.png');
        min-width: 50px;
        max-width: 50px;
        height: 35px;
        padding: 0px;
    } 
    .Row-Header{
        display: none!important;
    }
    .Menu-Mobile{
        display: block;
        background-color: #fff159;
        border: none;
        color: rgb(70, 70, 70);
        outline: none;
    }
    .Download-App{
        display: none;
    }
}
@media(min-width: 1024px){
    .Content-Menu-Mobile{        
        display: none!important;
    }
    div.logo{
        content:url('../../assets/images/logo.png');
        height: 35px;
        min-width: 160px;
        max-width: 160px;
        padding: 0;
    }
}
.Row {
    align-items: center;
    min-height: 56px;
}
.Content-Menu-Mobile{
    display: flex;
    justify-content: center;
    margin: 0 5px;
}
