.input-icons {
    width: 100%;
}

.Input {
    width: 100%;
    color: #333;
    padding: 7px 60px 7px 15px;
    outline-style: none;
    border: none;
    box-shadow: 0px 1px 2px rgb(163, 163, 163);
    border-radius: 2px;
    font-size: 16px;
}

@media(max-width: 1200px) {  
    .Input {        
        padding: 5px 60px 5px 15px;
        
    }  
    .Input:focus {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0px;
        right: 0;
        height: 56px;
        padding-left: 60px;
    }

    .Input:focus~.iconBack {
        box-sizing: border-box;
        display: inline;
        position: fixed;
        z-index: 20;
        left: 12px;
        padding: 5px;
        top: 12px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(70, 70, 70);
    }
    .iconClear {
        box-sizing: border-box;
        display: inline;
        position: absolute;
        z-index: 20;
        right: 18px;
        padding: 4px 15px;
        top: 1px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(70, 70, 70);
    }
    .Input:focus~.iconClear {
        box-sizing: border-box;
        display: inline;
        position: fixed;
        z-index: 20;
        right: 20px;
        padding: 5px;
        top: 12px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(70, 70, 70);
    }
    
}

@media(min-width: 1200px) {
    .iconBack {
        display: none;
    }
    .iconClear{
        display: none;
    }
}

::placeholder {
    color: #ccc;
}

.icon {
    position: absolute;
    right: 15px;
    margin-top: 4px;
    padding: 7px 15px;
    width: 45px;
    color: rgb(175, 175, 175);
    border-left: 1px solid rgb(235, 235, 235);
}

.iconBack {
    display: none;
    color: rgb(70, 70, 70);
}
