.input-icons {
    width: 100%;
}

.Input {
    width: 100%;
    color: #333;
    padding: 7px 60px 7px 15px;
    outline-style: none;
    border: none;
    box-shadow: 0px 1px 2px rgb(196, 196, 196);
    border-radius: 2px;
    font-size: 16px;
}

@media(max-width: 1024px) { 
    .Input {        
        padding: 4px 60px 4px 15px;        
    }  
    .Input:focus {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0px;
        right: 0;
        height: 56px;
        padding-left: 60px;
    }

    .Input:focus~.iconBack {
        box-sizing: border-box;
        display: inline;
        position: fixed;
        z-index: 20;
        left: 12px;
        padding: 5px 0px;
        top: 12px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: var(--font-color);
    }
    .iconClear {
        box-sizing: border-box;
        display: inline;
        position: absolute;
        z-index: 20;
        right: 18px;
        padding: 4px 15px;
        top: 0px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: var(--font-color);
    }
    .iconClear:focus {
        display: none;
    }
    .Input:focus~.iconClear {
        box-sizing: border-box;
        display: inline;
        position: fixed;
        z-index: 20;
        right: 20px;
        padding: 5px;
        top: 12px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: var(--font-color);
    }   
    .icon {
        display: none;
    } 
    
}

@media(min-width: 1200px) {
    .iconBack {
        display: none;
    }
    .iconClear{
        display: none;
    }
}

::placeholder {
    color: #ccc;
}

.icon {
    position: absolute;
    right: 15px;
    margin-top: 4px;
    padding: 7px 15px;
    width: 45px;
    color: rgb(175, 175, 175);
    border-left: 1px solid rgb(235, 235, 235);
}

.iconBack {
    display: none;
    color: var(--font-color);
}
